<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title" id="modalLabel">
      <p class="stock-name">{{ stock_display_symbol }}</p>
    </div>
    <button type="button" class="btn-close" (click)="modalRef.close()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p>
      <span>Current Price: {{ current_price }}</span>
      <br>
      <span>Money in Wallet: ${{ (wallet_balance !== undefined ? wallet_balance : 0) | number : "1.2-2" }}</span>
      <br>
      <span>
        <div class="input-group">
          <span class="input-group-text">Quantity:</span>
          <input type="text" class="form-control" [ngModel]="0" #stockQuantity="ngModel" [ngModelOptions]="{standalone: true}" (ngModelChange)="updateQuantity($event)">
        </div>
      </span>
      <span>
        <div id="not-enough-money-alert"></div>
      </span>
    </p>
  </div>
  <div class="modal-footer">
    <div>
      Total: {{ ((stockQuantity.value >= 0 ? stockQuantity.value : 0) || 0) * current_price | number:'1.2-2'}}
    </div>
    <div>
      <button *ngIf="buy_option_selected" class="btn btn-success" id="buy-sell-button" (click)="buy()" [disabled]="isBuyDisabled()">Buy</button>
      <button *ngIf="!buy_option_selected" class="btn btn-success" id="buy-sell-button" (click)="sell()" [disabled]="isSellDisabled()">Sell</button>
    </div>
  </div>
</div>