.card {
  margin: 16px 4px;
}

.card-header {
  padding: 12px;
}

.stock-display-symbol {
  font-size: 24px;
  color: black;
}

.stock-company-name {
  font-size: 18px;
  color: #646871;
}

.row {
  font-size: 18px;
  font-weight: 500;
}

.table {
  margin-bottom: 4px;
}

#buy-button {
  margin-right: 12px;
}